.chats {
  position: relative;
  height: 500px;
  width: 400px;
}

.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #059ee0;
  height: 50px;
}

.chats__search > input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  flex: 1;
  color: white;
}

.chats__search > input::placeholder {
  color: white;
  opacity: 1;
}

.chats__posts {
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.4);
  height: 450px;
  margin-top: -4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  overflow: scroll;
}

.chats__posts::-webkit-scrollbar {
  display: none;
}

.chats__posts {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chats__avatar {
  height: 30px !important;
  width: 30px !important;
}

.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}
